<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="OutFilePath" value="出力先ファイルのフルパス(UTF8)" />

      <add key = "api_key" value = "出力先ファイルのフルパス(UTF8)" />
      <add key = "api_secret" value = "出力先ファイルのフルパス(UTF8)" />
      <add key = "token" value = "出力先ファイルのフルパス(UTF8)" />
      <add key = "token_secret" value = "出力先ファイルのフルパス(UTF8)" />

      <add key = "screen_name" value = "出力先ファイルのフルパス(UTF8)" />

      </appSettings>
</configuration>