<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="OutFilePath" value="(出力先のファイルパス(UTF8))" />

      <add key = "api_key" value = "(APIのキー)" />
      <add key = "api_secret" value = "(APIのシークレット)" />
      <add key = "token" value = "(APIトークン)" />
      <add key = "token_secret" value = "(APIトークンのシークレット)" />

      <add key = "screen_names" value = "取得したいスクリーン名(,区切り)" />
      <add key = "keywords" value = "取得したいキーワード(,区切り)" />

      </appSettings>
</configuration>